html{
    margin:0;
    padding:0
}
nav{
    
    width:100%;
}
.brand{
    font-size:2em;
}

.upper{
    max-height:80%;
}

footer{
    background-color:black;
    color:white
}
.first-line{
    color:white;
}
.second-line a{
    text-decoration: none;
    color:white
}
.third-line {
    display:none;
}
@media screen and (max-width:490px)
{
.first-line{
    text-align:center;
    border-bottom: 1px solid #392d23;
}

.second-line{
    padding: 0 2rem;
    border-bottom: 1px solid #392d23;
}

}
.third-line{
    text-align:center;
    display:block;
    font-size:30px;
    
}
.footer{
    display:block
}
}